@font-face {
    font-family: YekanBakh;
    src: url("../fonts/YekanBakh-Regular.ttf") format("truetype"),
        url("../fonts/YekanBakh-Regular.woff") format("woff"),
        url("../fonts/YekanBakh-Regular.woff2") format("woff2");
}

body {
    font-family: YekanBakh;
}