// bootstrap variable customization
$primary: #f83600;
$secondary: #fe8c00;

// import bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap.scss";



// custom reset
body {
    font-family: YekanBakh;
    line-height: 1.6;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.svg-container {
    height: 150px;
    overflow: hidden;
    height: 150px;
    overflow: hidden;
    height: 150px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    
    &.svg-container--bottom {
        transform: translateY(0.1rem);
        margin-bottom: 0.1rem;
    }
    
    &.svg-container--top {
        transform: translateY(-0.1rem);
        margin-top: 0.1rem;
    }
}

// custom styles
@import "components/mixins";
@import "components/buttons";
@import "components/section__header";
@import "fonts";
@import "header";
@import "hero";
@import "services";

// utilities
.text-justify {
    text-align: justify
}

.icon {
    @include gradient;
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5rem;
    line-height: 0;
    display: inline-block;
}