.section__header {
    .section__header-shape {
        width: 10rem;
        height: 0.1rem;
        background-color: $primary;
        margin: 1rem auto;
        position: relative;   

        &::after {
            content: "";
            width: 2.5rem;
            height: 0.5rem;
            background-color: $primary;
            position: absolute;
            top: 10%;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}